<ul class="thumbnail">
    @for (int i = 0; Model.CSP_DOC != null && i < Model.CSP_DOC.List.Count; i++)
    {
        <li class="ui-state-default">
            <img class="pagethumbnail"/>
        </li>
    }
</ul>
