body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.topmenu {
    margin-top: 15px;
}

.panel {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background: #FFF;
    border: 1px solid rgba(0,0,0,0.3);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.error {
    display: none;
    color: red;
}

.infoarea {
    display: none;
    padding: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

div.panelheader {
    background: rgba(0,0,0,0.1);
    min-height: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 8px;
}

div.pagesarea {
    padding: 0;
}

img.pagethumbnail {
    float: left;
    border: 1px solid rgba(0,0,0,0.3);
}

.drop-pages-here {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

    .drop-pages-here p {
        font-weight: lighter;
    }

ul.pageslist {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100px;
}

    ul.pageslist li {
        display: inline;
        float: left;
        margin: 8px;
    }

#disqus_thread {
    margin-top: 40px;
}

span.share {
    margin-left: 10px;
}


.navbar-brand {
    font-family: 'Josefin Sans';
    font-size: 32px;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
